<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="id == '0'">Create course</ion-title>
    <ion-title *ngIf="id == '0' && course">Edit {{course.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="courseForm" (ngSubmit)="updateCourse()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Course name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Time</ion-label>
      <ion-datetime formControlName="time" displayFormat="hh:mm A" required></ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Length (Hours)</ion-label>
      <ion-input (ionBlur)="getDecimals($event)" type="number" formControlName="length" required step="0.5"></ion-input>
    </ion-item>
    <ion-button type="submit" color="primary">Submit</ion-button>
    <ion-button (click)="deleteCourse(id)" color="danger">Delete</ion-button> 
    <ion-button (click)="returnToStudentsPage()" color="secondary">Go back</ion-button>
  </form>
  <div *ngIf="enrollment && enrollment.length">
    <h3 style="padding: 0 15px;">Enrolled students</h3>
    <ion-list *ngFor="let e of enrollment">
      <ion-item style="padding-right: 20px;">
        <ion-label>
          <h2>{{e.firstname}} {{e.lastname}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
