<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="login-box">
    <div class="margin-app"></div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <ion-item nolines>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>
      <div class="margin-app"></div>
      <ion-item nolines>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="text" required></ion-input>
      </ion-item>
      <div class="margin-app"></div>
      <ion-button type="submit" color="primary">login</ion-button>
    </form>
  </div>
</ion-content>
